<section class="small-photo">
    <div class="row">
      {% if section.settings.small_image != blank %}
      <div class="sm-img" style="background: url({{section.settings.small_image | img_url: '1200x'}});">
      </div>
      {% else %}
      <div class="sm-img" style="background: url({{"hanging-clothes.jpg" | asset_url}});">
      </div>
      {% endif %}
    </div>
</section>

{% schema %}
{
    "name": "Small Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "small_image",
        "label": "Image"
      }
    ],
    "presets": [
    {
      "name":"Small Image",
      "category": "Image"
    }
  ]
}
{% endschema %}